@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/theme.css";
@import "tailwindcss/utilities";


.moshyn-video-button {
    margin: 0;
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
